# Este é um exemplo de arquivo .env - Você precisa substituir com suas próprias credenciais
MONGODB_URI=mongodb+srv://seu_usuario:sua_senha@seu_cluster.mongodb.net/seu_banco?retryWrites=true&w=majority
MONGODB_DB=registration_db